### Atividade De Revisão Da Biblioteca Pandas
+ É a biblioteca python utilizada para manipular e analisar dados 
+ susas principais estruturas são : series(uma coluna do dataframe) e dataframe(um dicionario python de listas)

In [2]:
# Iniciando 
import pandas as pd

In [3]:
# criando um series
data = [1,2,3,4,5,6]
index = ["A", "B", "C", "D", "E", "F"]
series = pd.Series(data, index=index)
series

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

In [5]:
# Criando um data fraame
# perceba que de fato é um dicionário de listas
data = {"col_numeros_1": [1,2,3], "col_numeros_2": [4,5,6]}
df = pd.DataFrame(data)
df

   col_numeros_1  col_numeros_2
0              1              4
1              2              5
2              3              6