### Atividade De Revisão Da Biblioteca Pandas
+ É a biblioteca python utilizada para manipular e analisar dados 
+ susas principais estruturas são : series(uma coluna do dataframe) e dataframe(um dicionario python de listas)

In [2]:
# Iniciando 
import pandas as pd

In [3]:
# criando um series
data = [1,2,3,4,5,6]
index = ["A", "B", "C", "D", "E", "F"]
series = pd.Series(data, index=index)
series

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

In [4]:
# Criando um data fraame
# perceba que de fato é um dicionário de listas
data = {"col_numeros_1": [1,2,3], "col_numeros_2": [4,5,6]}
df = pd.DataFrame(data)
df

   col_numeros_1  col_numeros_2
0              1              4
1              2              5
2              3              6

##### Inspeção básico de um objeto Data Frame

In [9]:
# descrição 
df.describe

<bound method NDFrame.describe of    col_numeros_1  col_numeros_2
0              1              4
1              2              5
2              3              6>

In [5]:
# tipagem da coluna 
df.dtypes

col_numeros_1    int64
col_numeros_2    int64
dtype: object

In [6]:
#nome das colunas
df.columns

Index(['col_numeros_1', 'col_numeros_2'], dtype='object')

In [7]:
#formato do data frame
df.shape

(3, 2)

In [8]:
# sumario de informacoes do data frame
df.info

<bound method DataFrame.info of    col_numeros_1  col_numeros_2
0              1              4
1              2              5
2              3              6>

#### Explorando algumas linhas da planilha de dados no pandas
* vamos agora fazer a exploração de arquivos csv

In [12]:
from pandas import read_csv
# carregamos a base de dados
file = 'https://gitlab.com/lemaufpb/dspy/-/raw/main/data/ibovespa_1998a2016.csv'

#fazemos a importação dos dados 
ibov = pd.read_csv(file, sep=',')
ibov

            Date     Open     High      Low    Close   Volume  Adj Close
0     2016-09-23  58992.0  59131.0  58409.0  58697.0  2809900    58697.0
1     2016-09-22  58408.0  59462.0  58408.0  58994.0  3365300    58994.0
2     2016-09-21  57736.0  58575.0  57326.0  58394.0  3889700    58394.0
3     2016-09-20  57356.0  57902.0  57356.0  57736.0  3001000    57736.0
4     2016-09-19  57083.0  58025.0  57083.0  57350.0  2691100    57350.0
...          ...      ...      ...      ...      ...      ...        ...
4648  1998-01-09   9656.0   9656.0   9118.0   9118.0        0     9118.0
4649  1998-01-08   9874.0   9874.0   9495.0   9658.0        0     9658.0
4650  1998-01-07  10215.0  10215.0   9760.0   9879.0        0     9879.0
4651  1998-01-06  10607.0  10607.0  10135.0  10185.0        0    10185.0
4652  1998-01-05  10427.0  10655.0  10427.0  10607.0        0    10607.0

[4653 rows x 7 columns]